<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label "Emailadresse:" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "Passwort:" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Einloggen" %>
  </div>
  <br>
  <%= link_to "Passwort vergessen?", new_password_recovery_path %>
<% end %>