<p>
Admin-Zugang </br>
<em>Login:</em> admin@example.org </br>
<em>Passwort:</em> 12345678
</p>
<p>
Nicht-Admin </br>
<em>Login:</em> tu0@example.org </br>
<em>Passwort:</em> 12345678
</p>
<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label "Emailadresse:" %><br />
    <%= f.text_field :email, :maxlength => 40 %>
  </div>
  <div class="field">
    <%= f.label "Passwort:" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Einloggen" %>
  </div>
  <br>
  <%= link_to 'Passwort vergessen?', new_password_path, :class => 'main' %>
<% end %>
