<h1><%= title %></h1>
<%= form_for(@job) do |f| %>
  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@job.errors.count, "error") %> verhinderte, dass dieser Job gespeichert werden konnte: :</h2>

      <ul>
      <% @job.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, :maxlength => 200, :size => 20 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

