<% if @user == current_user %>
<h1>Mein Profil bearbeiten</h1>
<% else %>
<h1>Profil bearbeiten</h1>
<% end %>
<%= form_for @user do |f| %>
  
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= @user.errors.count %> Fehler verhinderten die Änderungen der Einstellungen:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <br />
  <table class="main">
  <tr class="main">
  <th class="main"></th> <th class="main"></th>
  </tr>
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Vorname:" %></b> </td>
  <td class="main">  <%= f.text_field :forename, :maxlength => 30 %> </td>
  </tr>
  <tr class="main">  
  <td class="main"><b> <%= f.label "Name:" %></b> </td>
  <td class="main">  <%= f.text_field :name, :maxlength => 30 %> </td>
  </tr>
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Email:" %></b>  </td>
  <td class="main">  <%= f.text_field :email, :maxlength => 40 %> </td>
  </tr> 
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Straße:" %></b>  </td>
  <td class="main">  <%= f.text_field :street, :maxlength => 40 %> </td>
  </tr>
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Postleitzahl:" %></b>  </td>
  <td class="main">  <%= f.text_field :zipcode, :maxlength => 5 %> </td>
  </tr>  
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Ort:" %></b>  </td>
  <td class="main">  <%= f.text_field :city, :maxlength => 30 %> </td>
  </tr>
  <% if @user.role.commit? %>
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Ausbildungsjahr:" %> </b></td>
  <td class="main">  <%= f.text_field :trainingyear, :maxlength => 2 %> </td>
  </tr>
  <tr class="main">
  <td class="main"><b>  <%= f.label "Ausbildungsbeginn:" %></b></td>
  <td class="main">   <%= f.date_select :trainingbegin %>
  <% end %>  
  <% if @user == current_user %> 
  <tr class="main">
  <td class="main"><b><%= f.label "Passwort:" %></b></td>
  <td class="main"> <%= f.password_field :password %></td>
  </tr>
  <tr class="main">
  <td class="main"><b><%= f.label "Passwort bestätigen:" %></b></td>
  <td class="main"> <%= f.password_field :password_confirmation %></td>
  </tr>
  <% end %>
  <tr class="main">
  <td class="main"><b>  <%= f.label "Druckansicht" %> </b></td>
  <td class="main">  <%= f.collection_select(:template_id, @templates, :id, :name, :selected => @template) %> </td>
  </tr>
  <% if current_user.role.admin? %>
    <tr class="main">
    <td class="main"><b>  <%= f.label "Rechte-Profil" %></b> </td>
    <td class="main">  <%= f.collection_select(:role_id, @roles, :id, :name, :selected => @role ) %> </td>
    </tr>    
  <% end %>
  </table>
  <br />
  
  <%= f.submit "Einstellungen speichern" %>
  <% if current_user.role.admin? %>
    <%= link_to "Abbrechen", users_path, :class => 'main' %>
  <% else %>
    <%= link_to "Abbrechen", user_path(@user), :class => 'main' %>
  <% end %>

<% end %>
