<% if @user == current_user %>
<h1>Mein Profil bearbeiten</h1>
<% else %>
<h1>Profil bearbeiten</h1>
<% end %>
<%= form_for @user do |f| %>
  <%= f.label "Sie sind angemeldet als #{@user.role.name}"%>
  
  <% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= @user.errors.count %> Fehler verhinderten die Änderungen der Einstellungen:</h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <br />
  <table>
  <tr>
  <th></th> <th></th>
  </tr>
  <tr>  
  <td><b>  <%= f.label "Vorname:" %></b> </td>
  <td>  <%= f.text_field :forename%> </td>
  </tr>
  <tr>  
  <td><b> <%= f.label "Name:" %></b> </td>
  <td>  <%= f.text_field :name %> </td>
  </tr>
  <tr>  
  <td><b>  <%= f.label "Email:" %></b>  </td>
  <td>  <%= f.text_field :email %> </td>
  </tr>
  <% if @user == current_user %>  
  <tr>  
  <td><b>  <%= f.label "Straße:" %></b>  </td>
  <td>  <%= f.text_field :street %> </td>
  </tr>
  <tr>  
  <td><b>  <%= f.label "Postleitzahl:" %></b>  </td>
  <td>  <%= f.text_field :zipcode %> </td>
  </tr>  
  <tr>  
  <td><b>  <%= f.label "Ausbildungsjahr:" %> </b></td>
  <td>  <%= f.text_field :trainingyear %> </td>
  </tr>  
  <tr>  
  <td><b>  <%= f.label "Ort:" %></b>  </td>
  <td>  <%= f.text_field :city %> </td>
  </tr>
  <tr>
  <td><b><%= f.label "Passwort:" %></b></td>
  <td> <%= f.password_field :password %></td>
  </tr>
  <tr>
  <td><b><%= f.label "Passwort bestätigen:" %></b></td>
  <td> <%= f.password_field :password_confirmation %></td>
  </tr>
  <% end %>
  <tr>
  <td><b>  <%= f.label "Druckansicht" %> </b></td>
  <td>  <%= f.collection_select(:template_id, @templates, :id, :name, :selected => @template) %> </td>
  </tr>
  <% if current_user.role.admin? %>
    <tr>
    <td><b>  <%= f.label "Rechte-Profil" %></b> </td>
    <td>  <%= f.collection_select(:role_id, @roles, :id, :name, :selected => @role ) %> </td>
    </tr>    
  <% end %>
  </table>
  <br />
  
  <%= f.submit "Einstellungen speichern" %>
  <% if current_user.role.admin? %>
    <%= link_to "Abbrechen", users_path %>
  <% else %>
    <%= link_to "Abbrechen", user_path(@user) %>
  <% end %>

<% end %>
