<% if current_user.role.admin? %>
  <h1> Benutzer-Übersicht </h1>
<% elsif current_user.role.modify? %>
  <h1> Auszubildenden-Übersicht </h1>
<% end %>
<p>
<% if current_user.role.admin? %>
  <%= link_to 'Benutzer erstellen', new_user_path %>
<% elsif  current_user.role.modify? %>
  <%= link_to 'Auszubildenden erstellen', new_user_path %>
  <%= link_to 'Auszubildende verwalten', apprenticeships_path %>
<% end %>
</p>

<p>
<table class="main">
  <tr class="main">
    <th class="main"> Vorname </th>
    <th class="main"> Name </th>
    <% if current_user.role.admin? %>
      <th class="main"> Rechte-Profil </th>
      <th class="main"> </th>
      <th class="main"> </th>
    <% end %>
    
  </tr>
  
  <% @users.each do |u| %>

    <tr class="main">
      
      <td class="center"><%= u.forename %></td>
      <td class="center"><%= u.name %></td>
      <% if current_user.role.admin? %>
        <td class="center"><%= u.role.name %>
      <% end %>
      <% if current_user.role.admin? %>
        <td class="main"><%= link_to 'Bearbeiten', edit_user_path(u) %></td>
      <% end %>
      <% if current_user.role.admin? || current_user.role.modify? %>
        <% if !u.deleted? %>
          <td class="main"><%= link_to 'Deaktivieren', user_path(u), :confirm => "Sind sie sicher?", :method => :delete %></td>
        <% else %>
          <td class="main"><%= link_to 'Aktivieren', user_path(u), :confirm => "Sind sie sicher?", :method => :delete %></td>
        <% end %>
      <% end %>
      
    </tr>
  <% end %>
</table>
</p>


