<% if current_user.role.admin? %>
  <h1> Benutzer-Übersicht </h1>
<% elsif current_user.role.modify? %>
  <h1> Auszubildenden-Übersicht </h1>
<% end %>
<p>
<% if current_user.role.admin? %>
  <%= link_to 'Benutzer erstellen', new_user_path, :class => 'main' %>
<% elsif  current_user.role.modify? %>
  <%= link_to 'Auszubildenden erstellen', new_user_path, :class => 'main' %>
  <%= link_to 'Auszubildende verwalten', apprenticeships_path, :class => 'main' %>
<% end %>
</p>
<%= form_tag users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Benutzer finden", :name => nil %>
  </p>
<% end %>

<p>
<table class="main">
  <tr class="main">
    <th class="main"> Vorname </th>
    <th class="main"> Name </th>
    <% if current_user.role.admin? %>
      <th class="main"> Rechte-Profil </th>
      <th class="main"> </th>
      <th class="main"> </th>
    <% end %>
    
  </tr>
  
  <% @users.each do |u| %>
    <% if u.deleted? %>
      <tr class="main deactivated">
    <% else %>
      <tr class="main">
    <% end %>  
      <td class="center"><%= u.forename %></td>
      <td class="center"><%= u.name %></td>
      <% if current_user.role.admin? %>
        <td class="center"><%= u.role.name %>
      <% end %>
      <% if current_user.role.admin? %>
        <td class="main"><%= link_to 'Bearbeiten', edit_user_path(u) %></td>
      <% end %>
      <% if current_user.role.admin? || current_user.role.modify? %>
        <% if !u.deleted? %>
          <td class="main"><%= link_to 'Deaktivieren', user_path(u), :confirm => "Sind sie sicher?", :method => :delete, :class => 'main' %></td>
        <% else %>
          <td class="main"><%= link_to 'Aktivieren', user_path(u), :confirm => "Sind sie sicher?", :method => :delete, :class => 'main' %></td>
        <% end %>
      <% end %>
      
    </tr>
  <% end %>
</table>
</p>


