<% if current_user.role.admin? %>
<h1>Neuen Benutzer erstellen</h1>
<% else %>
<h1>Auszubildenden erstellen</h1>
<% end %>
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2> Es sind Fehler aufgetreten:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="main">
  <tr class="main">
  <th class="main"></th> <th class="main"></th>
  </tr>
  <tr class="main">  
  <td class="main">  <%= f.label "Vorname: *" %> </td>
  <td class="main">  <%= f.text_field :forename %> </td>
  </tr>
  <tr class="main">  
  <td class="main">  <%= f.label "Name: *" %> </td>
  <td class="main">  <%= f.text_field :name %> </td>
  </tr>
  <tr class="main">  
  <td class="main">  <%= f.label "Email: *" %> </td>
  <td class="main">  <%= f.text_field :email %></td>
  </tr>  
  <tr class="main">  
  <td class="main">  <%= f.label "Straße:" %> </td>
  <td class="main">  <%= f.text_field :street %> </td>
  </tr>  
  <tr class="main">  
  <td class="main">  <%= f.label "Postleitzahl:" %> </td>
  <td class="main">  <%= f.text_field :zipcode %> </td>
  </tr>  
  <tr class="main">  
  <td class="main">  <%= f.label "Ort:" %> </td>
  <td class="main">  <%= f.text_field :city %> </td>
  </tr>  
  <tr class="main">  
  <td class="main">  <%= f.label "Ausbildungsjahr:" %> </td>
  <td class="main">  <%= f.text_field :trainingyear %> </td>
  </tr>  
  <tr class="main">
  <td class="main">  <%= f.label "Rechte-Profil: *" %> </td>
  <td class="main">  <%= f.collection_select(:role_id, @roles, :id, :name, :prompt => true) %></td>
  </tr>
  <tr class="main">
  <td class="main">  <%= f.label "Druckansicht: *" %> </td>
  <td class="main">  <%= f.collection_select(:template_id, @templates, :id, :name, :prompt => true) %> </td>
  </tr>
  
  </table>
  <i> * Pflichtfelder <br/> </i>
  <br/>
  <%= f.submit "Benutzer erstellen"%>
  <%= link_to "Abbrechen", users_path, :class => 'main' %>
<% end %>

