<% if @user == current_user %>
<h1>Mein Profil</h1>
<% else %>
<h1><%= "Profil von #{@user.forename} #{@user.name}"%></h1>
<% end %>


<%= form_for @user do |f| %>
  <br />
  <table class="main">
  <tr class="main">
  <th class="main"></th> <th class="main"></th>
  </tr>
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Vorname:" %></b> </td>
  <td class="main">  <%= f.label @user.forename%> </td>
  </tr>
  <tr class="main">  
  <td class="main"><b> <%= f.label "Name:" %></b> </td>
  <td class="main">  <%= f.label @user.name %> </td>
  </tr>
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Email:" %></b>  </td>
  <td class="main">  <%= f.label @user.email %> </td>
  </tr> 
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Straße:" %></b>  </td>
  <td class="main">  <%= f.label @user.street %> </td>
  </tr>  
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Postleitzahl:" %></b>  </td>
  <td class="main">  <%= f.label @user.zipcode %> </td>
  </tr>
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Ort:" %></b>  </td>
  <td class="main">  <%= f.label @user.city %> </td>
  </tr>
  <% if @user.role.commit? %>
  <tr class="main">  
  <td class="main"><b>  <%= f.label "Ausbildungsjahr:" %></b>  </td>
  <td class="main">  <%= f.label @user.trainingyear %> </td>
  </tr>
  <tr class="main">
  <td class="main"><b> <%= f.label "Ausbildungsbeginn:" %></b></td>
  <td class="main">  <%= l @user.trainingbegin %> </td>
  </tr>
  <% end %>
  </table>
  
<% end %>
<%= link_to "Bearbeiten", edit_user_path(@user), :class => 'main' %>
