<%= form_tag codes_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Code finden", :name => nil %>
  </p>
<% end %>

<% m = method(:codes_path) %>
<%= pagerViewStart(m) %>
<%= pagerViewPrev(m) %>
<%= pagerViewNext(m) %>
<%= pagerViewEnd(m) %>

<table class="main">
<tr class="main">
<th class="main">Name</th>
<th class="main">Einteilung</th>
</tr>

<% @codes.each do |code| %>
<tr class="main">
<td class="main"><%= code.name %></td>

<td class="main">
<% if code.codegroup == PrintReportsHelper::HOURLY %> 
Stündlich
<% end %>
<% if code.codegroup == PrintReportsHelper::DAILY %> 
Täglich
<% end %>
<% if code.codegroup == PrintReportsHelper::WEEKLY %> 
Wöchentlich
<% end %>
</td>
<td class="main"><%= link_to 'Details', code, :class => 'main' %></td>
<td class="main"><%= link_to 'Bearbeiten', edit_code_path(code), :class => 'main' %></td>
<td class="main"><%= link_to 'Löschen', code, :confirm => 'Sind Sie sicher?', :method => :delete, :class => 'main' %></td>
</tr>
<% end %>
</table>
<br />

<%= link_to 'Neuer Code', new_code_path, :class => 'main' %>
