<%= form_for @role do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= @role.errors.count %> Fehler verhinderten die Erstellung dieses Rechte-Profils:</h2>
      <ul>
        <% @role.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <b><%= f.label "Name:" %><br /></b>
  <%= f.text_field :name, :maxlength => 30 %><br />
  <br />
  <b> <%= f.label "Rechte:" %> </b>

  <table class="main">
  <th class="main"></th>
  <th class="main"></th>
  <tr class="main">
  <td class="main"><%= f.label "Berichte lesen" %></td>
  <td class="main"><%= f.check_box :read %></td>
  </tr>
  <tr class="main">
  <td class="main"><%= f.label "Berichte erstellen" %></td>
  <td class="main"><%= f.check_box :commit %></td>
  </tr>
  <tr class="main">
  <td class="main"><%= f.label "Berichte exportieren" %></td>
  <td class="main"><%= f.check_box :export %></td>
  </tr>
  <tr class="main">
  <td class="main"><%= f.label "Berichte bewerten" %></td>
  <td class="main"><%= f.check_box :check %></td>
  </tr>
  <tr class="main">
  <td class="main"><%= f.label "Auszubildende erstellen" %></td>
  <td class="main"><%= f.check_box :modify %></td>
  </tr>
  <tr class="main">
  <td class="main"><%= f.label "Administrator" %></td>
  <td class="main"><%= f.check_box :admin %></td>
  </tr><br/>
  </table>
  <%= @role.new_record? ? f.submit('Rechte-Profil anlegen') : f.submit('Änderungen speichern') %>
  
<% end %>
