<h1>Berichte-Übersicht</h1>

<table class="main">
  <tr class="main">
    <th class="main">Vom</th>
    <th class="main">Bis</th>
    <% if current_user.role.check? %>
      <th class="main">Azubi</th>
    <% end %>
    <th class="main">Status</th>
  </tr>
  <% @reports.each do |report| %>
    <tr class="main">
      <td class="main"><%= l report.period_start %></td>
      <td class="main"><%= l report.period_end %></td>
      <% if current_user.role.check? %>
        <td class="main"><%= report.user.forename + ' ' + report.user.name %></td>
      <% end %>
      <td class="main"><%= report.status.name %></td>
      <% if current_user.role.commit? %>
        <td class="main"><%= link_to 'Einträge bearbeiten', edit_report_template_entry_path(report), :class => 'main' %></td>
        <% if report.status.stype == Status.personal && !report.report_entries.blank? %>
          <td class="main"><%= link_to 'Bericht vorlegen', reviews_path(:report_id => report), :method => :post, :class => 'main' %></td>
        <% elsif report.status.stype == Status.commited %>
          <td class="main"><%= link_to 'Bericht zurückziehen', review_path(report), :method => :delete, :class => 'main' %></td>
        <% end %>
        <td class="main"><%= link_to 'Bearbeiten', edit_report_path(report), :class => 'main' %></td>
        <td class="main"><%= link_to 'Löschen', report_path(report), :confirm => "Sind Sie sicher?", :method => :delete, :class => 'main' %></td>
      <% end %>
      <td class="main"><%= link_to 'Anzeigen', report, :class => 'main' %></td>
      <% if current_user.role.export? %>
        <td class="main"><%= link_to 'Druckansicht', print_report_path(report), :class => 'main' %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if current_user.role.commit? %>
  <%= link_to 'Bericht anlegen', new_report_path, :class => 'main' %>
<% end %>
<% if current_user.role.check? %>
  <%= link_to 'Alle freigegebenen Berichte', reports_path(:all => true), :class => 'main' %>
<% end %>
