<h1>Berichte-Übersicht</h1>

<table>
  <tr>
    <th>Vom</th>
    <th>Bis</th>
    <% if current_user.role.check? %>
      <th>Azubi</th>
    <% end %>
  </tr>
  <% @reports.each do |report| %>
    <tr>
      <td class="center"><%= l report.period_start %></td>
      <td class="center"><%= l report.period_end %></td>
      <% if current_user.role.check? %>
        <td class="center"><%= report.user.forename + ' ' + report.user.name %></td>
      <% end %>
      <td class="center">
        <%= case report.status.stype
          when Status.personal
            'nicht vorgelegt'
          when Status.commited
            'vorgelegt'
          when Status.accepted
            'akzeptiert'
          when Status.rejected
            'abgelehnt'
          end
        %>
      </td>
      <% if report.status.comment? %>
        <td class="center"><%= report.status.comment%></td>
      <% end %>
      <td><%= link_to 'Anzeigen', report %></td>
      <% if current_user.role.commit? %>
        <td><%= link_to 'Löschen', report_path(report), :confirm => "Sind Sie sicher?", :method => :delete %></td>
      <% end %>
      <% if current_user.role.export? %>
        <td><%= link_to 'Druckansicht', print_report_path(report)%></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if current_user.role.commit? %>
  <%= link_to 'Bericht anlegen', new_report_path %>
<% end %>
