<h1>Bericht vom <%= l @report.period_start %> bis zum <%= l @report.period_end %></h1>

<% if current_user.role.commit? %>
  <% if @report.status.stype == Status.personal && !@report.report_entries.blank? %>
    <%= link_to 'Bericht vorlegen', reviews_path(:report_id => @report), :method => :post, :class => 'main' %>
  <% elsif @report.status.stype == Status.commited %>
    <%= link_to 'Bericht zurückziehen', review_path(@report), :method => :delete, :class => 'main' %>
  <% end %>
<% elsif current_user.role.check? %>
  <% if @report.status.stype == Status.commited %>
    <%= link_to 'Bericht akzeptieren', review_path(@report), :method => :delete, :class => 'main' %>
    |
    <%= link_to 'Bericht ablehnen', edit_review_path(@report), :class => 'main' %>
  <% end %>
<% end %>

<% if @report.status.comment? %>
  <p><strong>Kommentar des Ausbilders:</strong> <%= @report.status.comment%></p>
<% end %>

<table class="main">
  <tr class="main">
    <th class="main">Datum/Uhrzeit</th>
    <th class="main">Dauer</th>
    <th class="main">Text</th>
  </tr>
  <% @entries.each do |entry| %>
    <tr class="main">
      <td class="main center"><%= l entry.date, :format => :short %></td>
      <% entry.duration_in_hours = 0 unless not entry.duration_in_hours.nil? %>
      <td class="main center"><%= entry.duration_in_hours.to_i %> Stunden <%= (entry.duration_in_hours.hours / 1.minute % 60).to_i %> Minuten</td>
      <td class="main"><%= entry.text %></td>
      <% if current_user.role.commit? %>
        <td class="main"><%= link_to 'Löschen', report_report_entry_path(@report, entry), :confirm => "Sind Sie sicher?", :method => :delete, :class => 'main' %></td>
      <% end %>
    </tr>
  <% end %>
</table>
