<!DOCTYPE html>
<html>
  <head>
    <title>ApprenticeDocLab1</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
<body>
  <section>
    <p id="notice"><%= notice %></p>
    <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
    <% end %>
	<%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </section>
  <header>
    <strong>Gruppe 11 - Ausbildungsnachweise</strong>
    <br />
    <em><%= @title %></em>
  </header>
  <nav>
    <ul>
      <li><%= link_to 'Startseite', root_path %></li>
      <li><%= link_to 'Berichts-Verwaltung', '#' %></li>
      <li><%= link_to 'Job-Verwaltung', jobs_path %></li>
      <li><%= link_to 'IHK-Verwaltung', ihks_path %></li>
      <li><%= link_to 'Code-Verwaltung', codes_path %></li>
      <li><%= link_to 'Template-Verwaltung', templates_path %></li>
      <li><%= link_to 'Benutzer-Verwaltung', users_path %></li>
      <br />
      <li><%= link_to 'Ausloggen', '#' %></li>
    </ul>
  </nav>
</body>
</html>
